apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-postgresql-pvc
  labels:
    app: shared-postgresql
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard