apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: user-service:latest
        imagePullPolicy: Never
        # image: matslo123/userservice:0.1.0
        # imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ASPNETCORE_URLS
          value: "http://+:8000"
        - name: DATABASE_CONNECTION_STRING
          valueFrom:
            secretKeyRef:
              name: user-service-db-secret
              key: connection-string