apiVersion: v1
kind: Service
metadata:
  name: availability-service
  namespace: appointments-app
  labels:
    app: availability-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: availability-service
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      name: http